@import url('http://fonts.googleapis.com/css?family=Lilita+One');
@import url('http://fonts.googleapis.com/css?family=Maven+Pro:400,900');

body {
	font-family:'Maven Pro';
	padding-top: 50px;
	color: #454545;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
	font-family:'Lilita One';font-weight:400
}

.navbar-inverse .navbar-brand {
	color: #e67e22;
}

.navbar-inverse .navbar-brand:hover {
	color: #ff7c09;
}

.jumbotron {
	background-color: #e67e22;
	color: white;
}

.jumbotron h1 {
	font-size: 6em;
}

.main {
	font-size: 1.3em;
}

.main h2 {
	color: #e67e22;
}

.main li:before {
	content: "-";
	margin-right: 10px;
}

.main li {
	list-style-type: none;
	line-height: 2em;
	display: block;
}

.main .badge {
	font-weight: 400;
	background-color: #e9effa;
	color: #a5a4d0;
	border: 1px solid #c5d4f0;
}

.main .about [class^="about-"]{
	font-size: 1.5em;
	font-family:'Lilita One';
	font-weight: 900;
}

.main .about .about-lv {
	font-size: 2em;
}

.main .do .do-item {
	margin-bottom: 20px;
}

.main .do .do-item h4 {
	font-size: 2em;
}

.main .do .do-icon {
	font-size: 5em;
}

.ribbon {
	margin-top: 2em;
	padding-top: 1em;
	padding-bottom: 0.5em;
	background-color: #fefefe;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #dcdcdc;
	text-align: center;
}

.ribbon ul li:first-child {
	margin-left: 0em;
}

.ribbon ul li {
	display: inline-block;
	list-style-type: none;
	margin-left: 1.5em;
}

footer, .footer {
	margin-top: 0px;
	min-height:200px; 
	background-color:#eee;
	padding-top: 2em;
	padding-bottom: 2em;
	line-height: 3em;
}

footer .love, .footer .love {
	color: tomato;
}